/** Swiper **/
.swiper-container-initialized
{
    overflow:hidden;
}

.tablinks_container
{

}

/**
@todo - do not hardwire page
**/
.page-id-28 > .container-fluid > .container-fluid .row,
.page-id-28 > .container-fluid > .container-fluid .row
{
    padding-top:0 !important;
}

.tablinks
{
    display:flex;
    justify-content:center;
    position:fixed;
    width:100%;
    background-color:white;
    z-index:2;
    left:0;

    .tab
    {
        padding:10px 20px;
        margin:5px;
        background-color:lightgrey;
        border-radius:5px;
        margin:5px 10px;
        color:white !important;

        &.active
        {
            background-color:#f51700;
        }
    }
}

.product_options
{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;

    .product_option, .book_session_group
    {
        display:flex;
        flex-direction:row;
        margin:3px 0;
        border:1px solid #f51700;
        color:#f51700 !important;
        justify-content: space-between;
        padding:10px;
        border-radius:5px;

        font-family:'Quicksand' !important;
        font-size:12px !important;
        text-transform:uppercase !important;

        &.in_cart
        {
            background-color:#f51700;;
            color:white !important;
        }

        &.swap_in_cart
        {
            background-color:grey;
            border:none;
            color:white !important;
        }

        &.in_order
        {
            background-color:black;
        }

        &.swap_in_order
        {
            background-color:pink;
        }

        &.original_order
        {
            background-color:lightblue;
        }

        &.swapped_in_order
        {
            background-color:purple;
            color:white !important;
        }
    }

    .book_session_group
    {
        justify-content:center;
        background-color:lightblue;
    }
}