.ec_calendar
{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

	@media screen and (max-width:1120px)
	{
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	}

	@media screen and (max-width:768px) {
		grid-template-columns: 1fr;
		grid-row-gap:20px;
	}

	a
	{
		color:white !important;
	}
}

.ec_spacer
{
	@media screen and (max-width:768px) {
		display:none;
	}
}

.ec_year, .ec_month
{
	display:contents;
}

.ec_weekend
{
	@media screen and (max-width:1120px) {
		display:none !important;
	}
}

.ec_day
{
	padding:10px;
	border:1px solid #f51700;
	min-height:300px;
	overflow:hidden;
	display: flex;
    flex-direction: column;

	&:not(.has_event)
	{
		background-color:lightgrey;

		@media screen and (max-width:768px) {
			display:none;
		}
	}

	&.has_event
	{
		
	}
}

.ec_dayofweek
{
	display:flex;
	padding:10px;
	justify-content:center;
	background-color:#f51700;
	color:white;

	@media screen and (max-width:768px) {
		display:none !important;
	}

	@media screen and (max-width:1120px) {
		&:nth-child(1)
		{
			display:none;
		}

		&:nth-child(7)
		{
			display:none;
		}
	}
}

.ec_date
{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:flex-end;
	position:relative;

	.ec_day_number_bg
	{
		width:70px;
		height:70px;
		position:absolute;
		right:-35px;
		top:-35px;
		background-color:#f51700;
		border-radius:100%;
	}

	.ec_day_number
	{
		width:35px;
		height:35px;
		position:relative;
		z-index:2;
		color:white;
		font-weight:600;
		top: -10px;
		right: -10px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

}