@use 'all/all';
@use 'all/variables';

@use 'homepage/_homepage';

/* 2. Include any default variable overrides here */
$headings-font-family: 'Quicksand', sans-serif;
$headings-font-weight: 600;

$theme-colors: (
  "purple":     all.$purple,
  "red":        all.$red,
  "yellow":     all.$yellow,
  "green":      all.$green,
  "cyan":       all.$cyan,
  "white":      #fff,
  //"gray":       $gray-600,
  //"gray-dark":  $gray-800
);

$theme-colors: (
  "primary":    all.$red,
  "secondary":  all.$yellow,
  "schools":    all.$schools,
  "camps":      all.$camps
);

@import "~bootstrap/scss/bootstrap";

h1, h2, h3, h4, h5, h6
{
    text-transform:uppercase;
    font-size:normal;
}

/**
 * Header
 */
header
{
    z-index: 2;

    &.oc
    {
        @extend .bg-transparent;
        position:fixed;

        .social
        {
            a
            {
                color:white;
            }
        }

        .flash
        {
            display:none;
        }

        .menu span i:first-child
        {
            @extend .text-white;
        }

        .menu span i + i
        {
            @extend .text-primary;
        }

        #toggle span span
        {
            @extend .bg-primary;
        }
    }

    .social
    {
        a
        {
            color: all.$red;
        }
    }

    .brand
    {
        @extend .ps-0;
        flex-direction:row;
        align-items:center;

        @include media-breakpoint-down(lg)
        {
            .text
            {
                h1
                {
                    font-size:32px;
                }

                span
                {
                    display:none;
                }
            }
        }

        @include media-breakpoint-down(sm)
        {
            .text
            {
                display:none;
            }
        }

        .text
        {
            @extend .ms-2;

            text-align:left;

            h1
            {
                @extend .mb-0;
            }
        }
    }

    .menu
    {
        @include media-breakpoint-down(sm)
        {
            span
            {
                font-size:24px;
            }
        }
    }

    .flash
    {
        width:50%;
        z-index:-1;
    
        @include media-breakpoint-down(sm)
        {
            //display:none;
        }
    
        .flash_image
        {
            z-index: -1;
            filter:grayscale(100%);
        }
    }
}

#offcanvas
{
    left:-100%;
    transition: 0.3s left ease-out;
    position:fixed;
    top:0;

    &.open
    {
        left:0%;
    }
}

/**
 *Booking
 */
.swiper-container-initialized
{
    overflow:hidden;
}

.swiper-slide
{
    @extend .p-3;
}

.product_options
{
    .product_option
    {
        border: 1px solid variables.$red !important;
        background-color:white !important;
        color: $red !important;
        box-sizing:border-box;

        &:hover
        {
            background-color:variables.$red !important;
            color:white !important;
        }

        &.in_cart
        {
            background-color:variables.$red !important;
            color:white !important;
            border:none !important;
        }

        &.swap_in_cart
        {
            background-color:grey !important;
            color:white !important;
            border:none !important;
        }

        &.original_order
        {
            background-color:black !important;
            color:white !important;
            border:none !important;
        }

        &.in_order
        {
            background-color: $purple !important;
            color:white !important;
            border:none !important;
        }

        &.swapped_in_order
        {
            background-color:$yellow !important;
        }
    }
}

/**
 * Activity Camps
 */

 .eventday, .facilty
 {
     min-height:300px;

     &::after
     {
         content:'';
         position:absolute;
         left:0;
         top:0;
         width:100%;
         height:100%;
         background-color:rgba(0,0,0,0.5);
     }
 }

 .activity
 {
     min-height:300px;
 }