@use './variables';
@use "./button";

.woocommerce-MyAccount-navigation ul
{
    list-style: none;
    padding:0px;
    margin:0px;

    li
    {
        padding:0px !important;

        &.is-active
        {
            a
            {
                background-color: variables.$red !important;
            }
        }

        a
        {
            @include button.button;
            display:block;
            background-color: grey !important;
            display:block;
        }
    }
}

.checkout-button
{
    font-size:24px !important;
}